  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
  }

  html, body {
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    line-height: 0; 
  }
  

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .parallax-image {
    display: flex;
    justify-content: center;  
    align-items: flex-start;
    
    padding:0 !important;
   
  }

  .parallax-image img {
    display: block;
    height: auto;  
    width: auto; 
    max-width: none;  
    margin:0 !important;
    padding:0 !important;
    box-sizing: border-box !important;
  }